ul, ol {
    margin: 0;
}

ul {
    li {
        position: relative;
        padding-left: 34px;
        margin: 0;

        &::before {
            content: '';

            position: absolute;
            top: 5px;
            left: 0;

            display: inline-block;
            width: 16px;
            height: 16px;

            border-radius: 100%;
            background: $color-border;
        }

        & + li {
            margin-top: 10px;
        }
    }
}

ol {
    padding-left: 24px;
}