@import "./reset";
@import "./main";
@import "./components/inputs";
@import "./components/checkboxes";
@import "./components/lists";

$section-v-padding: 88px;
$section-h-padding: 0;
$section-padding: $section-v-padding $section-h-padding;

$section-v-padding-m: 44px;
$section-h-padding-m: 0;
$section-padding-m: $section-v-padding-m $section-h-padding-m;

html {
  height: 100%;
}

body {
  height: 100%;
  color: $color-text-primary;
  font-family: $font-family-primary;
  background: $color-bg-primary;
}

.container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  $section-panel-height: 140px;
  $section-panel-height-m: 332px;

  position: relative;
  display: flex;
  padding: $section-padding;

  &__header {
    @include font-size("xxl", 500);

    &-column {
      width: 100%;

      & + & {
        margin-left: 60px;
      }

      &:empty {
        margin-top: 11px;
        border-top: 1px solid $color-border;
      }

      &-wrapper {
        display: flex;
      }
    }
  }

  &__top_panel {
    padding-top: $section-v-padding + $section-panel-height;
  }

  &__bottom_panel {
    padding-bottom: $section-v-padding + $section-panel-height;
  }

  &__panel {
    position: absolute;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: $section-panel-height;
    color: $color-white;
    background: $color-bg-secondary;

    &-logo {
      width: 76px;
      height: 76px;
      margin-right: 24px;
    }

    &-text {
      margin-right: 56px;

      @include font-size("l", 500);
    }
  }

  &__top_panel &__panel {
    top: 0;
  }

  &__bottom_panel &__panel {
    bottom: 0;
  }

  @media screen and (max-width: ($mobile-breakpoint + "px")) {
    & {
      padding: $section-padding-m;
    }

    &__top_panel {
      padding-top: $section-v-padding-m + $section-panel-height-m;
    }

    &__bottom_panel {
      padding-bottom: $section-v-padding-m + $section-panel-height-m;
    }

    &__panel {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: $section-panel-height-m;
      padding: 44px 20px;
      text-align: center;

      &-logo,
      &-text {
        margin-right: 0;
        margin-bottom: 24px;
      }

      .button {
        width: 100%;
        padding: 8px 19px;
      }
    }
  }
}

.header {
  display: flex;
  align-items: center;
  height: 85px;
  padding: 16px 0;

  &__left-block,
  &__right-block {
    display: flex;
    align-items: center;
    width: calc((100% - 120px) / 2);
  }

  &__left-block {
    justify-content: flex-start;
    margin-right: auto;
  }

  &__right-block {
    justify-content: flex-end;
    margin-left: auto;
  }

  .button {
    color: $color-white;
  }

  &__request-button {
    background: rgb(255 255 255 / 20%);
    backdrop-filter: blur(44px);
  }

  @media screen and (max-width: ($mobile-breakpoint + "px")) {
    & {
      height: 56px;
      margin-bottom: 66px;
      padding: 8px 0;
    }
  }
}

.main {
  &__section {
    min-height: 100vh;
    padding: 0 0 72px;
    color: $color-white;
    background: url("../assets/images/main-back.jpg") no-repeat;
    background-size: cover;

    &::before {
      position: absolute;
      inset: 0;
      background: rgb(35 35 35 / 30%);
      content: "";
    }

    .container {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__subheader {
    display: inline-block;
    max-width: 820px;
    margin-bottom: 24px;

    @include font-size("s", 500);
  }

  &__header {
    max-width: 820px;
    margin-bottom: 40px;

    @include font-size("xxxl", 500);
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__meta-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include font-size("xs", 500);
  }

  &__meta + &__meta {
    margin-left: 60px;
  }

  @media screen and (max-width: ($mobile-breakpoint + "px")) {
    &__section {
      min-height: 60vh;

      .container {
        justify-content: flex-start;
      }
    }

    &__info {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
    }

    &__subheader,
    &__header {
      display: block;
      text-align: center;
    }

    &__header {
      margin-bottom: 20px;
    }

    &__subheader {
      margin-bottom: 8px;
    }

    &__bottom {
      flex-direction: column;
      flex-grow: 1;

      .button {
        width: 100%;
      }
    }

    &__meta-block {
      flex-wrap: wrap;
      justify-content: center;
      column-gap: 20px;
    }

    &__meta + &__meta {
      margin-left: 0;
    }
  }
}

.columns {
  &__section .container {
    display: flex;
    flex-direction: column;
  }

  &__header {
    flex-shrink: 0;
    margin-bottom: 58px;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 525px;
  }

  &__text {
    --column-gap: 60px;
    --column-width: calc((100% - (var(--column-gap) * 3)) / 4);
    --text-width: calc(var(--column-gap) + var(--column-width) * 2);

    position: absolute;
    top: -18px;
    left: 0;
    max-width: var(--text-width);

    @include font-size("s");

    @media screen and (width <= 1200px) {
      & {
        --column-gap: 30px;
      }
    }
  }

  &__column {
    --column-gap: 60px;
    --column-width: calc((100% - (var(--column-gap) * 3)) / 4);

    @media screen and (width <= 1200px) {
      & {
        --column-gap: 30px;
      }
    }

    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--column-width);
    height: 100%;
    padding: 32px;
    overflow: hidden;
    background-color: $color-white;
    border-radius: 24px;
    transition: all 0.05s linear;

    &:nth-of-type(1) {
      height: 59%;
    }

    &:nth-of-type(2) {
      height: 72%;
    }

    &:nth-of-type(3) {
      height: 86%;
    }

    &-big-text {
      position: relative;
      z-index: 2;

      @include font-size("xl", 500);
    }

    &-small-text {
      position: relative;
      z-index: 2;
      margin-top: auto;

      @include font-size("m");
    }

    &-img {
      position: absolute;
      inset: 0;
      z-index: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: all 0.3s linear;
    }

    &::before {
      position: absolute;
      inset: 0;
      z-index: 1;
      background: rgb(51 50 49 / 40%);
      opacity: 0;
      transition: all 0.3s linear;
      content: "";
    }

    &:hover::before,
    &:hover &-img {
      opacity: 1;
    }

    &:hover {
      color: $color-white;
    }
  }

  @media screen and (max-width: ($mobile-breakpoint + "px")) {
    &__section {
      .container {
        justify-content: flex-start;
      }
    }

    &__text,
    &__header {
      margin-bottom: 24px;
    }

    &__container {
      flex-direction: column;
      height: unset;
    }

    &__text {
      position: unset;
      max-width: unset;
    }

    &__column {
      width: 100%;
      height: unset;
      padding: 16px;
      color: $color-white;

      &:nth-of-type(1),
      &:nth-of-type(2),
      &:nth-of-type(3) {
        height: unset;
      }

      & + & {
        margin-top: 8px;
      }

      &::before,
      &-img {
        opacity: 1;
      }

      &-big-text {
        margin-bottom: 34px;
      }
    }
  }
}

.slider {
  &__main {
    display: flex;
    justify-content: space-between;
    height: 100%;

    &::before {
      position: absolute;
      inset: 0;
      background: rgb(35 35 35 / 30%);
      content: "";
    }
  }

  &__card {
    $card-gap: 60px;

    display: flex;
    flex-direction: column;
    width: calc((100% - ($card-gap * 2)) / 3);
    height: 545px;
    border-radius: 24px;
    box-shadow: 0 0 0 1px rgb(255 255 255 / 20%);
    cursor: pointer;

    &-texts {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 24px;
      color: $color-white;
      background: rgb(255 255 255 / 10%);
      border-radius: 24px;
      opacity: 0;
      backdrop-filter: blur(22px);
      transition: all 0.3s ease;
    }

    &-img {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0;
      transition: all 0.6s ease;
    }

    &-number {
      display: block;
      margin-bottom: 16px;

      @include font-size("m", 500);
    }

    &-title {
      @include font-size("xl", 500);
    }

    &-text {
      display: block;
      margin-top: auto;

      @include font-size("s");
    }

    &.active {
      box-shadow: none;
      cursor: default;
    }

    &.active &-texts,
    &.active &-img {
      opacity: 1;
    }

    &:hover &-texts {
      opacity: 1;
    }
  }
}

.bonuses {
  &__cards {
    display: flex;
    justify-content: space-between;
  }

  &__card {
    --column-gap: 60px;
    --column-width: calc((100% - (var(--column-gap) * 2)) / 3);

    display: flex;
    flex-direction: column;
    width: var(--column-width);

    &:nth-child(2) {
      padding-top: 75px;
    }

    &:nth-child(3) {
      padding-top: 150px;
    }

    &-image {
      position: relative;
      width: 100%;
      height: 260px;
      margin-bottom: 24px;
      overflow: hidden;
      border-radius: 24px 24px 0;

      img {
        width: 100%;
        height: 100%;
      }

      svg {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 48px;
        color: $color-bg-primary;
      }
    }

    &-title {
      margin-bottom: 24px;

      @include font-size("xl", 500);
    }

    &-list,
    &-text {
      @include font-size("s");
    }

    &-list {
      margin-bottom: 32px;
    }

    &-text {
      margin-bottom: 24px;
    }

    .button {
      margin-top: auto;
    }
  }
}

.real {
  &__section {
    background: $color-white;
  }

  &__header {
    margin-bottom: 40px;
  }

  &__flats {
    display: flex;
    justify-content: space-between;

    &:first-of-type {
      margin-bottom: 60px;
    }
  }

  &__flat {
    --gap: 60px;
    --column-width: calc((100% - (var(--gap) * 1)) / 2);

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: var(--column-width);
    height: 660px;
    padding: 24px;
    overflow: hidden;
    color: $color-white;
    border-radius: 24px;

    &-slider {
      position: absolute;
      inset: 0;

      &::after {
        position: absolute;
        inset: 110px 0 0;
        z-index: 1;
        background: linear-gradient(0deg, rgb(0 0 0 / 60%) 0%, rgb(0 0 0 / 0%) 100%);
        content: "";
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    &-tags,
    &-title {
      position: relative;
      z-index: 2;
    }

    &-title {
      margin-bottom: 16px;

      @include font-size("xl", 500);
    }

    &-tags {
      display: flex;
    }

    &-tag {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 16px;
      background: rgb(255 255 255 / 20%);
      border-radius: 8px;
      backdrop-filter: blur(24px);

      @include font-size("s", 500);

      & + & {
        margin-left: 8px;
      }
    }

    .button {
      margin-left: 8px;
    }
  }
}

.place {
  &__header {
    margin-bottom: 40px;
  }

  &__features {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__feature {
    --column-gap: 20px;
    --column-width: calc((100% - (var(--column-gap) * 3)) / 4);

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: var(--column-width);
    height: 200px;
    padding: 24px;
    background: $color-white;
    border-radius: 24px;

    @include font-size("m");

    &-icon {
      position: absolute;
      top: 24px;
      right: 24px;
      width: 56px;
      height: 56px;
    }
  }

  &__grid {
    display: flex;
    justify-content: space-between;

    $gap: 20px;

    &-img,
    &-bottom, {
      overflow: hidden;
      border-radius: 24px;
    }

    &-img {
      position: relative;
      width: calc(50% - ($gap / 2));

      &::before {
        display: block;
        padding-top: 100%;
        content: "";
      }

      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
      }
    }

    &-right {
      display: flex;
      flex-direction: column;
      width: calc(50% - ($gap / 2));
    }

    &-bottom,
    &-top {
      width: 100%;
    }

    &-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: $gap;
    }

    &-bottom {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      padding: 24px;
      color: $color-white;
      background: $color-bg-secondary;

      img {
        height: 44px;
      }
    }

    &-text {
      @include font-size("m");
    }
  }
}

.big-slider {
  &__header {
    margin-bottom: 40px;
  }

  &__slider {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow: hidden;
  }

  &__slide {
    display: flex;
    flex-shrink: 0;
    width: 100%;
  }

  &__image {
    width: 100%;
    max-width: 820px;
    height: 540px;
    overflow: hidden;
    border-radius: 24px;

    img {
      height: 100%;
      object-fit: cover;
    }
  }

  &__text {
    flex-shrink: 0;
    width: 380px;
    margin-left: 60px;

    &-number {
      margin-bottom: 8px;
      color: $color-text-secondary;
      opacity: 0.5;

      @include font-size("s");
    }

    &-title {
      display: block;
      margin-bottom: 8px;

      @include font-size("xl", 500);
    }

    &-subtitle {
      margin-bottom: 24px;

      @include font-size("s");
    }

    &-list {
      @include font-size("s");
    }
  }
}

.bio {
  &__section {
    min-height: auto;
    padding: 62px 0 0;
  }

  &__h2 {
    max-width: 709px;
    color: $color-text-primary;

    @include font-size("xxl", 500);

    letter-spacing: -0.03em;
  }

  &__p {
    margin-top: 16px;
    color: $color-text-secondary;

    @include font-size("s", 400);
  }

  &__text {
    margin-top: 40px;
    margin-bottom: 60px;
    color: $color-text-primary;

    @include font-size("m", 400);
  }

  &__text_2 {
    margin-bottom: 24px;
    color: $color-text-secondary;

    @include font-size("s", 400);
  }

  &__flex {
    display: flex;
    justify-content: space-between;
  }

  &__container {
    margin-top: 26px;
    margin-right: 18px;
  }

  &__img {
    width: 100%;
    max-width: 533px;
  }

  &__button {
    margin-right: 8px;
    margin-bottom: 8px;
    padding: 8px 16px;
    color: $color-text-secondary;

    @include font-size("s", 400);

    background: $color-white;
    border-radius: 50px;
  }

  &__button_flex {
    display: flex;
    flex-wrap: wrap;
  }
}

.info {
  &__section {
    position: relative;
    min-height: auto;
    padding: 88px 0;
    background: url("../assets/images/info__fon.jpg") no-repeat;
    background-size: cover;
  }

  &__h2 {
    @include font-size("xxl", 500);

    color: $color-white;
  }

  &__p {
    width: 100%;
    max-width: 490px;
    margin-top: 40px;
    color: $color-white;

    @include font-size("m", 400);
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 191px;
  }

  &__card {
    width: 100%;
    max-width: 380px;
  }

  &__text {
    @include font-size("s", 500);

    height: 108px;
    color: $color-white;
  }

  &__text_p {
    margin-top: 47px;
    padding: 16px 0 0;
    color: $color-white;
    border-top: 1px solid rgb(255 255 255 / 60%);

    @include font-size("xs", 500);
  }
}

.advantages {
  &__cards {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
  }

  &__card {
    width: 100%;
    max-width: 112px;
    margin-right: 8px;
    padding: 24px 8px 13px;
    background: rgb(255 255 255 / 5%);
  }

  &__margin_left {
    margin-right: 82px;
  }

  &__img {
    display: flex;
    margin: 0 auto;
  }

  &__container_img {
    display: flex;
    width: 100%;
    max-width: 96px;
    height: 44px;
    margin: 0 auto;
  }

  &__h4 {
    margin: 4px 0;
    color: $color-white;

    @include font-size("s", 900);

    text-align: center;
  }

  &__p {
    max-width: 94px;
    color: rgb(255 255 255 / 80%);

    @include font-size("xm", 700);

    letter-spacing: -0.01em;
    text-align: center;
    text-transform: uppercase;
  }

  &__img_padding {
    padding: 9.5px 0;
  }
}

.interesting {
  &__section {
    position: relative;
    min-height: auto;
    padding: 88px 0;
    padding-top: 236px;
  }

  &__h2 {
    text-align: center;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__card {
    width: 100%;
    max-width: 600px;
  }

  &__img {
    margin-bottom: 24px;
    border-radius: 24px;
  }

  &__h3 {
    @include font-size("xl", 500);

    color: $color-text-primary;
    letter-spacing: -0.03em;
  }

  &__p {
    margin: 8px 0 24px;

    @include font-size("s", 400);

    color: $color-text-primary;
  }

  &__text-list-item {
    position: relative;
    margin: 0;
    margin-bottom: 10px;
    padding-left: 34px;

    @include font-size("s", 400);

    &::before {
      position: absolute;
      top: 5px;
      left: 0;
      display: inline-block;
      width: 16px;
      height: 16px;
      background: $color-border;
      border-radius: 100%;
      content: "";
    }
  }
}

.investment {
  &__section {
    background-color: $color-white;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
  }

  &__card {
    width: 100%;
    max-width: 380px;
  }

  &__button {
    width: 100%;
    max-width: 380px;
    margin-bottom: 4px;
    padding: 8px 16px;
    color: $color-text-primary;

    @include font-size("s", 500);

    text-align: center;
    background: $color-bg-primary;
    border-radius: 24px;
  }

  &__button_2 {
    width: 100%;
    max-width: 380px;
    padding: 8px 16px;
    color: var(--text-001);

    @include font-size("xxl", 500);

    text-align: center;
    background: $color-main;
    border-radius: 24px;
  }

  &__text {
    width: 100%;
    max-width: 380px;
    height: 96px;
    padding: 24px 0 80px;
    color: $color-text-secondary;
    border-bottom: 1px solid $color-border;

    @include font-size("s", 400);
  }

  &__card-list {
    @include font-size("xs", 400);

    max-width: 380px;
    margin: 24px 0 0;
  }

  &__card-list-item {
    margin: 0 0 10px;
  }
}

.plan {
  &__flex {
    display: flex;
    justify-content: space-between;
    margin-left: 26px;
  }

  &__line {
    width: 100%;
    max-width: 698px;
    margin-top: 11px;
    padding: 20px 10px 10px;
    border-top: 1px solid $color-border;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
  }

  &__card {
    max-width: 430px;
    padding: 24px 72px 24px 24px;
    color: #000;
    background: #fff;
    border-inline: var(--t) solid rgb(0 0 0 / 0%);
    border-radius: calc(var(--r) + var(--t)) / var(--r);
    mask:
      radial-gradient(100% 100% at var(--_p) 0, rgb(0 0 0 / 0%) 99%, #000 102%) var(--_p) 100% / var(--t) var(--t)
      no-repeat,
      linear-gradient(#000 0 0) padding-box;

    --r: 24px;
    --t: 26px;
    --с: 0px;
  }

  &__right {
    --_p: 100%;

    border-bottom-right-radius: 0 0;
    place-self: end;
  }

  &__h2 {
    color: $color-text-secondary;

    @include font-size("l", 500);
  }

  &__h2_span {
    display: block;
    color: $color-text-primary;
  }

  &__p {
    margin-top: 70px;
    color: $color-text-secondary;

    @include font-size("xs", 400);

    font-family: $font-family-primary;
  }

  &__p_2 {
    margin-top: 49px;
  }

  &__p_3 {
    margin-top: 48px;
  }
}

.team {
  &__h2 {
    @include font-size("xxl", 500);

    color: $color-text-primary;
  }

  &__top {
    min-height: auto;
    padding-top: 236px;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
  }

  &__img {
    width: 100%;
    max-width: 270px;
    max-height: 300px;
    border-radius: 24px;
    filter: grayscale(100%);
  }

  &__card {
    margin-top: 40px;
  }

  &__h4 {
    margin-top: 16px;
    margin-bottom: 8px;
    color: $color-text-primary;

    @include font-size("s", 500);
  }

  &__p {
    @include font-size("xs", 400);

    color: $color-text-secondary;
  }
}

.feedback {
  &__section {
    display: block;
    min-height: auto;
    padding: 88px 40px 0;
    color: $color-white;
    background: url("../assets/images/main-back.jpg") no-repeat;
    background-size: cover;

    &::before {
      position: absolute;
      inset: 0;
    }

    .container {
      position: relative;
      display: flex;
      justify-content: space-between;
    }
  }

  &__h2 {
    flex-shrink: 0;
    max-width: 489px;
    margin-top: 48px;
  }

  &__span {
    display: block;
  }

  &__container {
    width: 100%;
    max-width: 751px;
    padding: 48px;
    background: $color-white;
    border-radius: 24px;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    margin: 24px 0;
  }

  &__chexbox_container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 24px;
  }

  &__checkbox {
    width: 26px;
    height: 27px;
  }

  &__text {
    margin: 0;
    margin-left: 8px;
    color: $color-text-primary;

    @include font-size("s", 400);
  }

  &__text_2 {
    margin: 0;
    margin-left: 8px;
    color: $color-text-secondary;

    @include font-size("s", 400);
  }

  &__text_color {
    text-decoration: underline;
    text-decoration-skip-ink: none;
  }

  &__block {
    padding: 24px 0;
  }

  &__button {
    float: right;
  }

  &__input {
    width: 100%;
    padding: 14.5px 16px;

    @include font-size("s", 400);

    border: 1px solid ($color-border);
    border-radius: 8px;
  }

  &__input_text {
    margin: 0;
    margin-bottom: 4px;
    color: #333;

    @include font-size("xs", 400);
  }

  &__input_2 {
    width: 100%;
    max-width: 315px;
  }
}

.footer {
  margin-top: 88px;
  padding-top: 24px;
  padding-bottom: 28px;
  border-top: 1px solid rgb(255 255 255 / 10%);

  &__flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__text {
    width: 100%;
    max-width: 380px;
    color: $color-white;
    opacity: 0.5;

    @include font-size("xs", 400);
  }

  &__container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    max-width: 380px;
  }

  &__img {
    width: 48px;
    height: 48px;
    margin-left: 16px;
    border-radius: 50px;
  }
}
